/** GLOBALS **/
@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);

.title{ font-family: 'Agency FB Bold', arial; }

.purple{ color: #590178; }

.blue{ color: #049DB5; }

.yellow{ color: #FFEE00; }

.center{ text-align: center; }

h1.border{
  border-bottom: 4px solid #ffee00;
}

.background{
  height: 100vh;
  background-color: #590178;
  opacity: calc(.8);
}

img{
  width: 100%;
}

/** COVER PAGE **/
.enter {
  background-image: url(./assets/videocamera.png);
  background-size: cover;
  background-position: center;  
  height: 100vh;
}

.initial-btn{
  position: absolute;
  z-index: 1;
  left: 43%;
  top: 43%;
  border: 3px solid #FFEE00;
  border-radius: 40px;
  padding: 1% 4%;
  text-decoration: none;
  font-size: 32px;
  transition: all ease-in-out .4s;
}

.initial-btn:hover{
  color: #000000;
  background-color: #049DB5;
  border: 3px solid #049DB5;
  transition: all ease-in-out .4s;
}

/* HEADER */
nav{
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn{
  border: 2px solid;
  padding: 20px 0;
  width: 100%;
  font-family: 'Agency FB Bold', arial;
  text-decoration: none;
  font-size: 25px;
  transition: all ease-in-out;
}

.btn:hover{
  color: #000000;
  background-color: #049DB5;
  border: 2px solid #000000;
  transition: all ease-in-out .4s;
}

/* FOOTER */
footer{
  padding: 20px 0;
  background-color: #590178;
}

footer a{
  text-decoration: none;
  font-size: 28px;
  margin: 0 15px;
  transition: all ease-in-out .4s;
}

footer a:first-of-type{ margin-left: 0; }

footer a:last-of-type{ margin-right: 0; }

footer a:hover {
  color: #049DB5;
  transition: all ease-in-out .4s;
}

footer p{
  font-size: 10px;
  font-weight: bold;
}

/* MOVIES */
.movie-container{
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 74px;
}

/* SEARCH */
.search-container {
  width: 80%;
  left: 10%;
}

.genre-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.genre-info{
  height: 200px;
}

.genre-info img{
  height: 200px;
}

.genre-info div{
  position: relative;
  display: grid;
  top: -204px;
  /* background-color: #590178;
  opacity: calc(0.5); */

}

.genre-info p{
  z-index: 1;
  margin: 0;
  text-align: center;
  align-self: center;
  display: inline-block;
  color: #ffee00;
  font-weight: bold;
  padding: 100px 0;
}

.show{
  height: 100%;
  background-color: #590178;
  opacity: calc(.5);
}