/* SETTINGS */
.setting-container{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
  }
  
  .avatar{
    width: 200px;
    height: 200px;
    align-self: center;
  }
  
  .avatar img{ 
    border-radius: 50%;
    border: 4px solid #FFEE00;
  }
  
  .user-info{ width: 100%; }
  
  .account{ margin-bottom: 40px; }
  
  .theme label span{ font-weight: bolder; }
  
  .theme input[type="radio"]{ display: none; }
  
  .theme input[type="radio"] + *::before{
    content: "";
    display: inline-block;
    vertical-align: bottom;
    margin: 0 10px 0 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  
  .theme input[type="radio"]:checked + *::before{ background: #049DB5; }
  
  .account h1, .payment h1{ margin-bottom: 40px; }
  
  .account a, .payment a{
    border: 3px solid #FFEE00;
    border-radius: 40px;
    padding: 1% 3%;
    margin: 0 10px;
    font-weight: bold;
    transition: all ease-in-out .4s;
  }
  
  .payment a:last-of-type{ margin-right: 0; }
  
  .account a:hover, .payment a:hover{
    border-color: #000000;
    background-color: #049DB5;
    color: #000000;
    transition: all ease-in-out .4s;
  }