/** COVER PAGE **/
.enter { height: 100vh; }

.initial-btn{
  position: absolute;
  z-index: 1;
  left: 43%;
  top: 43%;
  border: 3px solid #FFEE00;
  border-radius: 40px;
  padding: 1% 4%;
  font-size: 32px;
  transition: all ease-in-out .4s;
}

.initial-btn:hover{
  color: #000000;
  background-color: #049DB5;
  border: 3px solid #049DB5;
  transition: all ease-in-out .4s;
}