.error-container{
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
}

.error-container h1{
    margin: auto;
    padding: 16px 0;
    padding: 0 10px;
}

.error-container p{
    margin-bottom: 55px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
}

.error-container a {
    border-radius: 40px;
    padding: 20px 60px;
}

@media (max-width: 760px) {
    .error-container a {
        padding: 20px;
    }
}