.synopsis{ top: -204px; }

.genre-info:hover .synopsis{
    display: block;
    transform: translateY(0);
    transition: all ease-in-out .6s;
}

.show-search .preview-info {
    padding: 0;
    font-weight: normal;
}

#info{
    padding: 0;
    margin-bottom: 10px;
}