/* MOVIES */
.movie-container{ width: 100%; }

.movie-container h1:nth-child(3), .movie-container h1:last-of-type { margin-left: 50px; }

.movie-container h1:first-child{ margin: 0.67em auto; }

/* MAIN CAROUSEL */
.main-carousel-item .image-container{ height: 86vh; }

.main-carousel-item img{ height: 80vh; }

.main-description{
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  height: fit-content;
  margin: 0 auto;
  padding: 0 0 10px;
  width: calc(100% - 136px);
  text-align: center;
  background: rgba(89, 1, 120, .8);
}

.main-carousel-item span{ font-weight: bolder; }

.react-multiple-carousel__arrow{
  background:rgba(89, 1, 120, .8);
  min-height: 80vh;
  border-radius: 0;
  top: 0;
  z-index: 0;
}

.react-multiple-carousel__arrow:hover{background:#049DB5}

.react-multiple-carousel__arrow::before{
  font-size: 120px;
  color:#FFEE00;
  font-weight: bold;
  font-family:revicons;
  transition: all ease-in-out 0.4s;
}

.react-multiple-carousel__arrow:hover::before{
  color: #000000;
  transition: all ease-in-out 0.4s;
}

.react-multiple-carousel__arrow:disabled{background:rgba(89, 1, 120, .8);}

.react-multiple-carousel__arrow--left{left:0;}

.react-multiple-carousel__arrow--right{right:0;}

.react-multi-carousel-dot button{
  background-color: #ffee00;
  border: 2px solid #FFEE00;
  margin-right: 35px;
  border-radius: 0%;
  transition: all ease-in-out 0.4s;
}

.react-multi-carousel-dot button:hover{
  background-color: #049DB5;
  border: 2px solid #049DB5;
  transition: all ease-in-out 0.4s;
}

.react-multi-carousel-dot--active button{
  background-color: #049DB5;
  border: 2px solid #049DB5;
}

@media (max-width:320px){
  .main-description{ bottom: 6.9%; }
}

@-moz-document url-prefix(){
  /* MAIN CAROUSEL */
  .main-description{
    width: 90.5%;
    top: 464px;
    right: 64px;
  }
}