/* SEARCH */
.genre-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.genre-info{ height: 200px; }

.genre-info:hover{ cursor: pointer; }

.synopsis{
  position: relative;
  display: none;
  text-align: center;
  top: -204px;
  height: 100%;
  transition: all ease-in-out 1s;
}

.genre-info:hover .synopsis{
  display: grid;
  transition: all ease-in-out 1s;
}

.genre-info p{
  z-index: 1;
  margin: 0;
  align-self: center;
  display: inline-block;
  font-weight: bold;
  padding: 89.5px 0;
}

.synopsis{
  position: relative;
  height: 200px;
  top: -200px;
}

@media (max-width:767px){
  .genre-container{ grid-template-columns: repeat(1, 1fr); }
}

@media (min-width: 768px) and (max-width:1100px){
 .genre-container{ grid-template-columns: repeat(2, 1fr); } 
}