/* SETTINGS */
.setting-container{
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.avatar{
  width: 200px;
  height: 200px;
  align-self: center;
}

.avatar img{ 
  border-radius: 50%;
  border: 4px solid;
}

.user-info{ width: 100%; }

.account{ margin-bottom: 40px; }

.theme label span{ font-weight: bolder; }

.theme input[type="radio"]{ display: none; }

.theme input[type="radio"] + *::before{
  content: "";
  display: inline-block;
  vertical-align: bottom;
  margin: 0 10px 0 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.theme input[type="radio"]:checked + *::before{ background: #ff5e00; }

.account h1, .payment h1{ margin-bottom: 40px; }

.account a, .payment a{
  border: 3px solid;
  border-radius: 40px;
  padding: 1% 3%;
  margin: 0 10px;
  font-weight: bold;
  transition: all ease-in-out .4s;
}

.payment a:last-of-type{ margin-right: 0; }

.account a:hover, .payment a:hover{ transition: all ease-in-out .4s; }

@media (max-width:767px){
  .setting-container{
    flex-direction: column;
    column-gap: 0;
    row-gap: 40px;
    padding-top: 110px;
  }
}