/** COVER PAGE **/
.enter { height: 100vh; }

.initial-btn{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  border: 3px solid #FFEE00;
  border-radius: 40px;
  padding: 1% 4%;
  font-size: 32px;
  font-weight: 700;
  transition: all ease-in-out .4s;
}

.initial-btn:hover{
  color: #000000;
  background-color: #049DB5;
  border: 3px solid #049DB5;
  transition: all ease-in-out .4s;
}