/** GLOBALS **/
@import url(https://allfont.net/allfont.css?fonts=agency-fb-bold);

img{
  width: 100%;
  height: 100%;
}

h1{ width: fit-content; }

a{ text-decoration: none; }

.title{ font-family: 'Agency FB Bold', arial; }

.purple{ color: #590178; }

.blue{ color: #049DB5; }

.yellow{ color: #FFEE00; }

.center{ text-align: center; }

.border{ border-bottom: 4px solid #FFEE00; }

#main-element{ transition: all ease-in-out .5s; }

#main-element, .enter{
  background-image: url(./assets/videocamera.png);  
  background-size: cover;
  background-position: center;
}

.background{ min-height: 100vh; }

.container {
  padding-top: 74px;
  padding-bottom: 40px;
  width: 80%;
  margin: 0 auto;
}

.image-container{ height: 100%; }

.preview-info span {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

/* HEADER */
nav{
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  transition: all ease-in-out .4s;
}

.hide-nav{
  transform: translateY(-100%);
  transition: all ease-in-out .4s;
}

.btn{
  border: 2px solid;
  padding: 20px 0;
  width: 100%;
  font-family: 'Agency FB Bold', arial;
  text-decoration: none;
  font-size: 25px;
  transition: all ease-in-out .4s;
}

.btn:hover{
  border: 2px solid;
  transition: all ease-in-out .4s;
}

/* FOOTER */
footer{
  padding: 20px 0;
  border-top: 4px solid;
}

footer a{
  text-decoration: none;
  font-size: 28px;
  margin: 0 15px;
  transition: all ease-in-out .4s;
}

footer a:first-of-type{ margin-left: 0; }

footer a:last-of-type{ margin-right: 0; }

footer a:hover {
  transition: all ease-in-out .4s;
}

footer p{
  font-size: 10px;
  font-weight: bold;
}